---
layout: page
# The Archives of posts.
---

{% include lang.html %} {% if site.prefer_datetime_locale == 'en' or lang ==
'en' %} {% assign df_strftime_m = '%b' %} {% assign df_dayjs_m = 'MMM' %} {%
else %} {% assign df_strftime_m = '/ %m' %} {% assign df_dayjs_m = '/ MM' %} {%
endif %}

<div id="archives" class="pl-xl-3">
  <div class="year lead">2022</div>
  <ul class="list-unstyled">
    <li>
      <span class="date month small text-muted ml-1"> Now</span>
      <!-- <span class="date day" data-ts="{{ ts }}" data-df="DD">21</span> -->
      <a class="ap" href="https://www.tapplace.co.kr" target="_blank"
        >#4 팀 프로젝트 - 탭플레이스</a
      >
    </li>
  </ul>
  <ul class="list-unstyled">
    <li>
      <span class="date month small text-muted ml-1"> 06월 </span>
      <!-- <span class="date day" data-ts="{{ ts }}" data-df="DD">21</span> -->
      <a class="ap" href="https://yamegame.com/" target="_blank"
        >#3 토이 프로젝트 - 고전! 야매게임</a
      >
    </li>
  </ul>
  <ul class="list-unstyled">
    <li>
      <span class="date month small text-muted ml-1"> 06월 </span>
      <!-- <span class="date day" data-ts="{{ ts }}" data-df="DD">21</span> -->
      <span class="sb">정보처리기사</span>
    </li>
  </ul>
  <ul class="list-unstyled">
    <li>
      <span class="date month small text-muted ml-1"> 02월 </span>
      <!-- <span class="date day" data-ts="{{ ts }}" data-df="DD">21</span> -->
      <a class="ap" href="https://github.com/tlqhrm/javaqua1" target="_blank"
        >#2 2인 프로젝트 - JavaQua</a
      >
    </li>
  </ul>
  <div class="year lead">2021</div>
  <ul class="list-unstyled">
    <li>
      <span class="date month small text-muted ml-1"> 12월 </span>
      <!-- <span class="date day" data-ts="{{ ts }}" data-df="DD">21</span> -->
      <a class="ap" href="https://yososu.shop/" target="_blank"
        >#1 토이 프로젝트 - 요소수 재고현황</a
      >
    </li>
  </ul>
  <ul class="list-unstyled">
    <li>
      <span class="date month small text-muted ml-1"> 11월 </span>
      <!-- <span class="date day" data-ts="{{ ts }}" data-df="DD">21</span> -->
      <span class="sg">자바/스프링 국비과정 수료</span>
    </li>
  </ul>
  <ul class="list-unstyled">
    <li>
      <span class="date month small text-muted ml-1"> 06월 </span>
      <!-- <span class="date day" data-ts="{{ ts }}" data-df="DD">21</span> -->
      <span class="sg">자바/스프링 국비과정</span>
    </li>
  </ul>
  <div class="year lead">2020</div>
  <ul class="list-unstyled">
    <li>
      <span class="date month small text-muted ml-1"> 12월 </span>
      <!-- <span class="date day" data-ts="{{ ts }}" data-df="DD">21</span> -->
      <span class="sg">컴퓨터 활용능력 1급</span>
    </li>
  </ul>
  <ul class="list-unstyled">
    <li>
      <span class="date month small text-muted ml-1"> 08월 </span>
      <!-- <span class="date day" data-ts="{{ ts }}" data-df="DD">21</span> -->
      <span class="sg">강남대학교 부동산학과 졸업</span>
    </li>
  </ul>
</div>
